* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#e664a1, #9198e5);
  position: relative;
}
h1 {
  font-family: "Moirai One", system-ui;
  font-size: 100px;
  display: flex;
  flex-direction: column;
}
img {
  height: 300px;
  width: 300px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 190px;
  margin: 0;
  animation: pulse;
  animation: shake 10s ease infinite alternate;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-style: oblique;
  background-color: rgb(252, 198, 251);
  height: 50px;
  width: 500px;
  box-sizing: border-box;
  border-radius: 40px;
  border: 3;
  border-color: rgb(252, 0, 223);
  display: flex;

  flex-direction: column;
  align-items: center;
}

.cookie {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pacifico", cursive;
}

.cookie-counter {
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  animation-duration: 3s;
  /* animation-name: slidein; */
}

.footer {
  top: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  color: rgb(183, 255, 132);
}

.shop {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 20px;
  justify-content: center;
  position: relative;
  left: 450px;
  top: 150px;
}

.resetBtn {
  background-color: rgb(252, 247, 198);
  height: 40px;
  width: 150px;
  box-sizing: border-box;
  border-radius: 40px;
  border: 5;
  border-color: rgb(197, 252, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
